@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-nyu-primary: #57068c;
    --color-nyu-secondary: #8900e1;
  }

  body {
    background-color: #f8fafc;
    color: #0f172a;
  }
}