services:
  db:
    image: pgvector/pgvector:pg15
    environment:
      POSTGRES_USER: nyu
      POSTGRES_PASSWORD: password
      POSTGRES_DB: course_search
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data:
